// _buttons.scss

/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

@import '_mixin.scss';

@mixin main-button{
	width: 100%;
	@include border-radius(5px);
	padding: 10px 16px;
	min-height: 46px;
}