// _variables.scss

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

$main-width: 			1170px;

$base-font-family: 		'OpenSans';
$base-font-size: 		16;

$bg-color: 				#eee;
$primary-color:			#777;
$primary-green-color: 	#58b325;
$secondary-color:		#fff;

$title-color:			#58b325;
$icon-color:			#a9a9a9;
$border-color:			#ddd;